<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compare EVs</title>
        <link href="{{url_for('static',path='/styles.css')}}" rel="stylesheet" />
        <script src="{{url_for('static',path='/firebase-login.js')}}" type="module"></script>
        <style>
                .container {
                        display: flex;
                        justify-content: space-around;
                        max-width: 80%;
                        margin: auto;
                }

                .ev-info {
                        padding: 20px;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        width: 45%;
                }

                h2,
                p {
                        margin: 10px 0;
                        font-size: 30px
                }


                .highlight-lowest {
                        color: red;
                }

                .highlight-highest {
                        color: green;
                }
        </style>
</head>

<body>
        <div class="nav-bar">
                <a href="/">Home</a>
                <a href="/search-ev">Search</a>
                <a href="/compare-ev-form">Compare</a>
                <a href="add-ev">Add EV</a>
                <a href="/login" id="login-on-nav">Login</a>
                <a href="/login" id="signout-on-nav">Sign Out</a>
        </div>
        <div class="main-container">
                <div class="container">
                        <div class="ev-info" style="border-right:2px solid #e0e0e0">
                                <h2><a href="/view/{{ ev1.name }}">{{ ev1.name }}</a></h2>
                                <p><strong>Manufacturer:</strong> <span
                                                class="{{ 'highlight-highest' if ev1.manufacturer > ev2.manufacturer else 'highlight-lowest' }}">{{
                                                ev1.manufacturer }}</span></p>
                                <p><strong>Year:</strong> <span
                                                class="{{ 'highlight-highest' if ev1.year > ev2.year else 'highlight-lowest' }}">{{
                                                ev1.year
                                                }}</span></p>
                                <p><strong>Battery Size:</strong> <span
                                                class="{{ 'highlight-highest' if ev1.battery_size > ev2.battery_size else 'highlight-lowest' }}">{{
                                                ev1.battery_size }} kWh</span></p>
                                <p><strong>WLTP Range:</strong> <span
                                                class="{{ 'highlight-highest' if ev1.wltp_range > ev2.wltp_range else 'highlight-lowest' }}">{{
                                                ev1.wltp_range }} km</span></p>
                                <p><strong>Cost:</strong> <span
                                                class="{{ 'highlight-highest' if ev1.cost < ev2.cost else 'highlight-lowest' }}">{{
                                                ev1.cost
                                                }}</span></p>
                                <p><strong>Power:</strong> <span
                                                class="{{ 'highlight-highest' if ev1.power > ev2.power else 'highlight-lowest' }}">{{
                                                ev1.power }}
                                                kW</span></p>
                                <p><strong>Rating:</strong> <span
                                                class="{{ 'highlight-highest' if ev1.rating > ev2.rating else 'highlight-lowest' }}">{{
                                                ev1.rating }}
                                        </span></p>
                        </div>
                        <div class="ev-info">
                                <h2><a href="/view/{{ ev2.name }}">{{ ev2.name }}</a></h2>
                                <p><strong>Manufacturer:</strong> <span
                                                class="{{ 'highlight-highest' if ev2.manufacturer > ev1.manufacturer else 'highlight-lowest' }}">{{
                                                ev2.manufacturer }}</span></p>
                                <p><strong>Year:</strong> <span
                                                class="{{ 'highlight-highest' if ev2.year > ev1.year else 'highlight-lowest' }}">{{
                                                ev2.year
                                                }}</span></p>
                                <p><strong>Battery Size:</strong> <span
                                                class="{{ 'highlight-highest' if ev2.battery_size > ev1.battery_size else 'highlight-lowest' }}">{{
                                                ev2.battery_size }} kWh</span></p>
                                <p><strong>WLTP Range:</strong> <span
                                                class="{{ 'highlight-highest' if ev2.wltp_range > ev1.wltp_range else 'highlight-lowest' }}">{{
                                                ev2.wltp_range }} km</span></p>
                                <p><strong>Cost:</strong> <span
                                                class="{{ 'highlight-highest' if ev2.cost < ev1.cost else 'highlight-lowest' }}">{{
                                                ev2.cost
                                                }}</span></p>
                                <p><strong>Power:</strong> <span
                                                class="{{ 'highlight-highest' if ev2.power > ev1.power else 'highlight-lowest' }}">{{
                                                ev2.power }}
                                                kW</span></p>
                                <p><strong>Rating:</strong> <span
                                                class="{{ 'highlight-highest' if ev2.rating > ev1.rating else 'highlight-lowest' }}">{{
                                                ev2.rating }}
                                        </span></p>
                        </div>
                </div>
        </div>


</body>

</html>